body{
    margin:0;
    background-color:#ff77ff;
}

header{
background-color: #333;
}
.main-title, .description{
    margin: 16px;
}

.site-title{
    margin: 0px;
    padding:16px;
    color: #fff;
}

.contents-item{
    margin:16px ;
    background-color: #fff;
    border: 1px solid #ccc; 
}
.contents-item-title{
    padding: 8px 16px;
    margin: 0;
    background-color: #333;
    color:#fff;
}
.contents-item-text{
    margin: 16px;
}
.copyright{
    padding: 16px;
    margin: 0;
    background-color: #333;
    color: #ffff;
    text-align: center;
}
.menu{
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid#ccc;
    height: 200px;
    background-color: #eee;

}
.menu-item{
    list-style-type: none;
}

.menu-item a{
    display: block;
    padding: 16px;
    background-color: #77ff;
    color: #fff;
    border: 3px solid #ccc;
    text-decoration: none;
}

.menu-item a:hover{
    background-color: #666;
}