body{
    margin:0;
    background-color:#ff77ff;
}

header{
background-color: #333;
}
.main-title, .description{
    margin: 16px;
}

.site-title{
    margin: 0px;
    padding:16px;
    color: #fff;
}

.contents-item{
    margin:16px ;
    background-color: #fff;
    border: 1px solid #ccc; 
}
.contents-item-title{
    padding: 8px 16px;
    margin: 0;
    background-color: #333;
    color:#fff;
}
.contents-item-text{
    margin: 16px;
}
.copyright{
    padding: 16px;
    margin: 0;
    background-color: #333;
    color: #ffff;
    text-align: center;
}
.menu{
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid#ccc;
    height: 200px;
    background-color: #eee;

}
.menu-item{
    list-style-type: none;
}

.menu-item a{
    display: block;
    padding: 16px;
    background-color: #77ff;
    color: #fff;
    border: 3px solid #ccc;
    text-decoration: none;
}

.menu-item a:hover{
    background-color: #666;
}
.box {
    padding: 20px;
    border: 50px solid red;
    width: 200px;
    height: 200px;
}
.border-box {
    box-sizing: border-box;
}
.entries{
    display: flex;
    flex-wrap: wrap;
}

.entry {
    margin: 8px;
    width: calc(25% - 16px);
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.entry-img {
    margin: 0;
}

.entry-img img {
    width: 100%;
    display: block;
}
.fixed-button{
    background-color: #333;
    color: #fff;
    padding: 16px;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
}
relative-button{
    background-color: pink;
    color: #fff;
    padding: 16px;
    margin: 0;
    position: relative;
    left: 0;
    bottom: 0;
}
.absolute-button{
    background-color: red;
    color: #fff;
    padding: 16px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.absolute-box{
    border: 3px solid red;
    height: 200px;
    position: relative;
}
